# Simple Ruby CI pipeline
image: ruby:3.3

stages:
  - pre

before_script:
  - ruby -v
  - gem install bundler --no-document
  - bundle install --jobs=4 --retry=3

test_job:
  stage: pre
  script:
    - bundle exec rake test
    # or: bundle exec rspec
    # or: ruby test/run_all.rb
  only:
    - main
    - merge_requests